<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<hr>

<p>go <a class="btn btn-warning login btn-lg" href="/login">Login</a></p>
<p>go <a class="btn btn-warning login btn-lg" href="/signup">Signup</a></p>
<p>go <a class="btn btn-warning login btn-lg" href="/logout">logout</a></p>	
