<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
	<script src="/js/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="/js/form.js" type="text/javascript"></script>
</head>
<body>   
    <div class="container">
		<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="sign-in"></span> Signup</h1>

		{{#if message.length}}
		<div class="alert alert-danger"> {{message}} </div>
		{{/if}}

		<!-- SIGNUP FORM -->
		<form id="signupForm" name="signupForm" action="/signup" method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input id = "username" type="text" class="form-control" name="username" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id = "password"type="password" class="form-control" name="password" required>
			</div>
			<div class="form-group">
				<label for="confirm_password">Confirm Password</label>
				<input id = "confirm_password"type="password" class="form-control" name="confirm_password" required>
			</div>
			<div>
      			<input type="checkbox" name="Seller" id = "Seller" value='Seller'/><label>Seller</label>  
            	<input type="checkbox" name="Customer" id = "Customer" value="Customer"/><label>Customer</label>
				{{!-- <script type="text/javascript" name = "Seller">function radio() {alert($('[name="radio"]:checked').val());}</script> --}}
			</div>
			<button type="submit" class="btn btn-warning signup btn-lg">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a class="btn btn-warning login btn-lg" href="/login">Login</a></p>
		<p>Or go <a class="btn btn-warning login btn-lg" href="/">home</a></p>

		</div>
    </div>

</body>
</html>
