<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">	
</head>
<body>
    
    <div class="container">
		<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="sign-in"></span> Signup</h1>

		{{#if message.length}}
		<div class="alert alert-danger"> {{message}} </div>
		{{/if}}

		<!-- SIGNUP FORM -->
		<form action="/signup" method="post">
			<div class="form-group">
				<label for="Username">Username</label>
				<input id = "Username"type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id = "password"type="password" class="form-control" name="password">
			</div>
			<div class="row mb-3">
				<label for="SellerRadio" class="col-sm-6">
      				<input type="radio" name="radio" class="mr-sm-2" id = "SellerRadio" autocomplete="off" checked> Seller
				</label>
				<label for="CustomerRadio" class="col-sm-6">
            		<input type="radio" name="radio" class="mr-sm-2" id = "CustomerRadio" autocomplete="off"> Customer
				</label>
				{{!-- <script type="text/javascript" name = "Seller">function radio() {alert($('[name="radio"]:checked').val());}</script> --}}
			</div>
			<button type="submit" class="btn btn-primary btn-block signup">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a class="btn btn-primary login" href="/login">Login</a></p>
		<p>Or go <a class="btn btn-primary login" href="/">home</a></p>

		</div>
    </div>

</body>
</html>
