<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    
    <div class="container">
		<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="sign-in"></span> Signup</h1>

		{{#if message.length}}
		<div class="alert alert-danger"> {{message}} </div>
		{{/if}}

		<!-- SIGNUP FORM -->
		<form action="/signup" method="post">
			<div class="form-group">
				<label for="Username">Username</label>
				<input id = "Username"type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input id = "password"type="password" class="form-control" name="password">
			</div>
			<div>
      			<input type="radio" name="radio" id = "Seller" value='Seller'/><label>Seller</label>  
            	<input type="radio" name="radio" id = "Customer" value="Customer"/><label>Customer</label>
			</div>
			<button type="submit" class="btn btn-warning signup btn-lg">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a class="btn btn-warning login btn-lg" href="/login">Login</a></p>
		<p>Or go <a class="btn btn-warning login btn-lg" href="/">home</a></p>

		</div>
    </div>

</body>
</html>