<div class="shadow-sm p-3 mb-3 bg-white rounded w-100">
    <div class="row">
        <div class="col-sm-3">
            <span id="commentName" class="font-weight-bold"> {{ comment.peopleWhoComment }}</span>&nbsp;
            {{#if comment.isSeller}} 
                <button class="btn btn-secondary btn-sm"> Seller </button>
            {{else }}
                <button class="btn btn-secondary btn-sm"> Customer </button>
            {{/if}}
        </div>   
        <div class="col-sm-3">
            <span class="text-muted"> {{ comment.time }}</span> 
        </div>
    </div>
    <hr>
    <span> {{ comment.content }} </span> 
<div>