<div class="comment-item row">
    <div class="col-4">
        <div class="row">{{ comment.peopleWhoComment }}</div>
        <div class="row">{{ comment.createDate }}</div>
        <div class="row">{{ comment.isSeller }}</div>
    </div>
    <div class="col-8">
        <p>{{ comment.content}}</p>
    </div>
</div>